<!-- sales/templates/sales/customer_list.html -->
{% extends 'sales/base.html' %}

{% block content %}
<style>
    .content button:first-of-type {
        margin-right: 10px;
    }
</style>

<br>
<br>
<h3 class="my-12 ml-5">顧客管理</h3>
<hr>
<br>

<!-- メッセージ表示 -->
{% include 'sales/components/display_message.html' %}

<div class="content">
    <div style="display:inline-flex">
        <!-- 追加 モーダルの呼び出し新規登録ボタン -->
        <button type="button" class="btn btn-primary btn-lg" data-mdb-toggle="modal"
            data-mdb-target="#CustomerCreateModal">
            新規作成
        </button>
        <!-- 追加 新規登録モーダル -->
        {% include "sales/components/customer_create_modal.html" %}

        <!-- ダウンロードボタン -->

        <a class="nav-link dropdown-toggle btn btn-primary btn-lg" href="#" id="navbarDropdown" role="button"
            data-mdb-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-download"></i>
        </a>
        <!-- Dropdown menu -->
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
                <form method="GET" action="{% url 'sales:customer_download' %}" style="display: inline">
                    <button type="submit" name="msg" value=.test class="dropdown-item">
                        <input type="hidden" name="button_type" value="all">
                        全件ダウンロード
                    </button>
                </form>
            </li>
            <li>
                <form method="GET" action="{% url 'sales:customer_download' %}" style="display: inline">
                    <button type="submit" name="msg" value=.test class="dropdown-item">
                        <input type="hidden" name="button_type" value="this_table">
                        {% for i in object_list %}
                        <input type="hidden" name="customer_name_{{ i.id }}" value="{{i.customer_name}}">
                        <input type="hidden" name="post_code_{{ i.id }}" value="{{i.post_code}}">
                        <input type="hidden" name="address_{{ i.id }}" value="{{i.address}}">
                        <input type="hidden" name="phone_number_{{ i.id }}" value="{{i.phone_number}}">
                        <input type="hidden" name="manager_{{ i.id }}" value="{{i.manager}}">
                        {% endfor %}
                        表示テーブルダウンロード
                    </button>
                </form>
            </li>
        </ul>
    </div>
    <br>
    <br>
    <!-- 検索フォームを表示 -->
    <form action="{% url 'sales:customer_search' %}" class="form-inline" method="GET">
        <div class="input-group">
            <input class="form-control mr-sm-2" type="search" placeholder="検索" aria-label="CustomerSearch" ,
                name="freeword">

            <button id="search-button" type="submit" class="btn btn-primary my-2 my-sm-0">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

</div>
<br>
<br>

{% load humanize %}
<!-- 商品名リストを表示 -->
<div class="col-12 ml-5" style="overflow-x:scroll; white-space: nowrap; overflow-y: scroll; height: 650px;">
    <table class="table" style="text-align: center;">
        <thead>
            <tr>
                <th>ID</th>
                <th>会社名</th>
                <th>郵便番号</th>
                <th>住所</th>
                <th>電話番号</th>
                <th>担当者</th>
                <th>編集</th>
                <th>削除</th>
            </tr>
        </thead>
        <tbody>
            {% for i in object_list %}
            <tr>
                <td>{{ i.id }}</td>
                <td>{{ i.customer_name }}</td>
                <td>{{ i.post_code }}</td>
                <td>{{ i.address }}</td>
                <td>{{ i.phone_number }}</td>
                <td>{{ i.manager }}</td>
                <!-- 更新モーダルを呼び出すボタン-->
                <td>
                    <button type="button" class="btn btn-rounded btn-md btn-info update-modal-button"
                        data-mdb-toggle="modal" data-mdb-target="#CustomerUpdateModal"
                        data-updateurl="{% url 'sales:customer_update' i.pk %}"
                        data-customer_name="{{ i.customer_name }}" data-post_code="{{ i.post_code }}"
                        data-address="{{ i.address }}" data-phone_number="{{ i.phone_number }}"
                        data-manager="{{ i.manager }}">
                        <i class="fas fa-edit"></i>
                    </button>
                    <!-- 顧客情報の更新モーダル -->
                    {% include 'sales/components/customer_update_modal.html' %}

                </td>
                <!-- 削除モーダルを呼び出すボタン-->
                <td>
                    <button type="button" class="btn btn-rounded btn-md btn-danger delete-modal-button"
                        data-mdb-toggle="modal" data-mdb-target="#CustomerDeleteModal"
                        data-deleteurl="{% url 'sales:customer_delete' i.pk %}"
                        data-customer_name="{{ i.customer_name }}" data-post_code="{{ i.post_code }}"
                        data-address="{{ i.address }}" data-phone_number="{{ i.phone_number }}"
                        data-manager="{{ i.manager }}">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- ページネーション機能 -->
{% include 'sales/components/pagination_generic.html' %}
{% include 'sales/components/pagination.html' %}

<!-- 商品情報の削除モーダル -->
{% include 'sales/components/customer_delete_modal.html' %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script type="text/javascript">
    // 削除登録フォーム関連
    const deleteModalButtons = document.getElementsByClassName('delete-modal-button');
    const deleteForm = document.getElementById('delete-form');
    const deleteCustomerName = document.getElementById('delete-customer_name')
    const deletePostCode = document.getElementById('delete-post_code')
    const deleteAddress = document.getElementById('delete-address')
    const deletePhoneNumber = document.getElementById('delete-phone_number')
    const deleteManager = document.getElementById('delete-manager')

    for (const button of deleteModalButtons) {
        button.addEventListener('click', () => {
            deleteForm.action = button.dataset.deleteurl;
            deleteCustomerName.textContent = `顧客名 : ${button.dataset.customer_name}`;
            deletePostCode.textContent = `郵便番号 : ${button.dataset.post_code}`;
            deleteAddress.textContent = `住所 : ${button.dataset.address}`;
            deletePhoneNumber.textContent = `電話番号 : ${button.dataset.phone_number}`;
            deleteManager.textContent = `担当者 : ${button.dataset.manager}`;
        });
    }


    // 更新フォーム関連
    const updateModalButtons = document.getElementsByClassName('update-modal-button');
    const updateForm = document.getElementById('update-form');

    for (const button of updateModalButtons) {
        button.addEventListener('click', () => {
            updateForm.action = button.dataset.updateurl;
            document.getElementById('up_customer_name').value = `${button.dataset.customer_name}`;
            document.getElementById('up_post_code').value = `${button.dataset.post_code}`;
            document.getElementById('up_address').value = `${button.dataset.address}`;
            document.getElementById('up_phone_number').value = `${button.dataset.phone_number}`;
            document.getElementById('up_manager').value = `${button.dataset.manager}`;
        });
    }
</script>

{% endblock %}